{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle. If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_qpractice/view

    Landing page for a Question Practice activity: a row of action cards
    (continue / start / past sessions).

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * intro string Optional formatted activity introduction HTML.
    * actions array List of action cards.
      * url string Destination URL.
      * title string Card heading and button label.
      * description string Short supporting text.
      * icon string Rendered pix icon HTML.
      * btnclass string Bootstrap button variant class (e.g. btn-primary).

    Example context (json):
    {
        "intro": "<p>Practise your exam questions.</p>",
        "actions": [
            {
                "url": "https://example.com/mod/qpractice/startattempt.php?id=1",
                "title": "Create a new session",
                "description": "Pick topics and question types, then start practising.",
                "icon": "<i class=\"icon fa fa-plus\"></i>",
                "btnclass": "btn-primary"
            }
        ]
    }
}}
{{#intro}}
    <div class="generalbox qpractice-intro">{{{intro}}}</div>
{{/intro}}
<div id="buttons" class="qpractice-actions row">
    {{#actions}}
        <div class="col-12 col-md-4 mb-3">
            <div class="card h-100 qpractice-action-card">
                <div class="card-body d-flex flex-column text-center">
                    <div class="mb-2">{{{icon}}}</div>
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text text-muted small flex-grow-1">{{description}}</p>
                    <a href="{{url}}" class="btn {{btnclass}} mt-auto" role="button">{{title}}</a>
                </div>
            </div>
        </div>
    {{/actions}}
</div>
